<h1>Pass the <%= @result.test.title %> Test</h1>

<b>
  <p><%= @result.current_question.title %></p>
  <%= @result.current_question_number %> из <%= @test.questions.count %> вопросов
</b>

<%= form_with url: result_path(@result), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :title, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%=link_to "Gist Question", gists_path, method: :post %></p>
  <p><%= form.submit 'Next' %></p>
<% end %>
