<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
<div class="select">
  <ul>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :badge_title %>
  </ul>

  <ul><p>Название брать с https://github.com/primer/octicons/tree/main/icons </p>
    <%= form.label :file_name %><br>
    <%= form.text_field :file_name, id: :badge_file_name %>
  </ul>

  <ul class=" rule">
    <%= form.label :rule_type %><br>
    <%= form.collection_select :rule_type, Rule.all, :rule_type, :rule_type, prompt: true %>
  </ul>

  <ul class=" category ">
    <%= form.label :Category %><br>
    <%= form.collection_select :type_title, Category.all, :id, :title, prompt: true %>
  </ul>

  <ul class=" level">
    <%= form.label :level %><br>
    <%= form.number_field :type_title, id: :test_level %>
  </ul>

  <ul class="first_test">
    <%= form.label :test %><br>
    <%= form.collection_select :param, Test.all, :id, :title, prompt: true %>
  </ul>
</div>
  <p><%= form.submit %></p>
<% end %>
