<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td>
    <% test.questions.each_with_index do |question, index| %>
      <ul><%= index + 1 %> <%= link_to "#{question.title}", question_path(question) %></ul>
    <% end %></td>
  <td><%= link_to 'Back', tests_path %></td><%= %>
</tr>
